#background {
  margin: 0;
  padding: 0;
}

#logo {
  width: 180px;
  height: auto;
  margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 20px;
}

.topnav {
  background-color: #be0411;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  font-family: 'calibri';
  src: url('fonts/calibri.ttf');


}

.topnav a:hover {
  background-color: #ffffff;
  color: #004a22;
  transition: all .2s;
  scale: 1.1;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 0;
}

li {
  margin-left: 8px;
  position: relative;
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: auto;
}

#home h1 {
  font-family: 'bahnschrift';
  src: url('fonts/bahnschrift.ttf');
  font-size: 50px;
  color: #be0411;
  margin-top: 50px;
}

#home p {
  font-family: 'calibri';
  src: url('fonts/calibri.ttf');
  font-size: 20px;
  color: #000000;
  margin-top: -10px;
}

#home img {
  width: 700px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.imagens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

#menu h1 {
  font-family: 'bahnschrift';
  src: url('fonts/bahnschrift.ttf');
  font-size: 60px;
  color: #128a52;
  margin-top: 50px;
  text-align: center;
}

#menu h2 {
  font-family: 'calibri';
  src: url('fonts/calibri.ttf');
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#menu p {
  font-family: 'calibri';
  src: url('fonts/calibri.ttf');
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

#entradas,
#sobremesas {
  background-color: #004a22;
  box-shadow: 0px 0px 10px 0px black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

#pizzas,
#bebidas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}


#pizzas p,
#bebidas p {
  font-family: 'calibri';
  src: url('fonts/calibri.ttf');
  font-size: 25px;
  color: #000000;
  text-align: center;
}

.comidas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  gap: 50px;

}

.pratos {
  width: 330px;
  height: 220px;
  border-radius: 10px;
}

.pratos:hover {
  scale: 1.1;
  transition: all .1s;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}


.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -4px;
  background-color: #128a52;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px black;
}


li:hover .submenu {
  display: block;
}


.submenu li {
  margin-right: 0;
}

.submenu a {
  font-weight: normal;
  color: #fff;
}

.submenu a:hover {
  color: #be0411;
}